// Define variables for your color scheme

// For example:
$blue: #007fff;
$light-blue: #bfd7ea;
$grey: #8d8d92;
$light-grey: #EEEEEE;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$red: red;
$white: #F8F8FF;
