// Define variables for your color scheme

// For example:
$blue: #007fff;
$light-blue: #bfd7ea;
$grey: #c0c0c6;
$light-grey: #EEEEEE;
$dark-grey: #59595b;
$yellow: #f4dead;
$orange: #E67E22;
$green: #1EDD88;
$red: red;
$white: #F8F8FF;
