<div>
  <p>Loan ID</p>
</div>
<div>
  <p class="contract-amount">Amount</p>
</div>
<div>
  <p class="contract-interest">Interest Rate</p>
</div>
<div>
  <p class="contract-total">Total Return</p>
</div>
<div>
  <p class="contract-due">Due</p>
</div>
<div style="width: 170px">
  <p> </p>
</div>
