<div class="contract-id">
  <p>Loan ID</p>
</div>
<div class="contract-amount">
  <p>Amount</p>
</div>
<div class="contract-interest">
  <p>Interest Rate</p>
</div>
<div class="contract-total">
  <p>Total Return</p>
</div>
<div class="contract-due">
  <p>Due</p>
</div>
<div class="approval-buttons">
  <p>Approve?</p>
</div>
