<div class='approval-buttons'>
  <h5>Repay loan?</h5>
  <%= link_to contract_repaid_lender_path(pending_loan), method: "patch" , class: "btn btn-approve btn-circle m-0 p-0" do  %>
    <i class="fas fa-check-circle"></i>
  <% end %>
</div>