<div class='approval-buttons'>
  <h5>Have you recieved repayment?</h5>
  <%= link_to contract_repaid_loan_path(pending_loan), method: "patch" , class: "btn btn-approve btn-circle m-0 p-0" do  %>
    <i class="fas fa-check-circle"></i>
  <% end %>
  <%= link_to "#", method: "patch" , class: "btn btn-reject btn-circle m-0 p-0"  do %>
    <i class="fas fa-times-circle"></i>
  <% end %>
</div>
