<div class="sidenav">
  <% if current_user.lender %>
    <p class= "wallet"><i class="fas fa-wallet"></i> <span id='wallet'>￥ <%= current_user.money_available %></span></p>
    <%= link_to "Offer a Loan", new_loan_path, class: "btn btn-new-loan"  %>
  <% end %>
  <h3 class="sidebar-title">Your Loans</h3>
  <a href="#" class="sidebar-active">All</a>
  <a href="#">Pending</a>
  <a href="#">Active</a>
  <a href="#">Repaid</a>
  <a href="#">Unpaid</a>
</div>
