
<div class="sidenav">
  <h3 class="sidebar-title">Your Loans</h3>
  <a href="#" class="sidebar-active">All</a>
  <a href="#">Pending</a>
  <a href="#">Active</a>
  <a href="#">Repaid</a>
  <a href="#">Unpaid</a>
</div>
