<div class="wrapper">
  <div class="banner">
    <div class="banner-content">
      <div>
        <h2 class="tag-line"><%= @tagline.sample %></h2>
      </div>
      <div class="d-flex my-3">
        <input type="text" placeholder="How much money do you need..." class="contract-search rounded form-control">
        <a href="#" class="btn btn-approve mx-3"><i class="fas fa-yen-sign"></i></a>
      </div>
    </div>
  </div>
  <div class="landing-user-stories-container">
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars0.githubusercontent.com/u/26819547?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Was in need!</h2>
        <p>My usual lady was asking for double, I needed money quickly</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars3.githubusercontent.com/u/279604?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Paid off the party</h2>
        <p>Needed some cash to secure my route out of China</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars1.githubusercontent.com/u/25542223?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Got a Frenchman off my back</h2>
        <p>Just needed a few yen to tide me over</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
  </div>
</div>
