<div class="wrapper">
  <div class="banner">
    <input type="text" placeholder="How much money do you need..." class="contract-search rounded">
  </div>
  <div class="landing-user-stories-container">
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars0.githubusercontent.com/u/26819547?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Such a great product</h2>
        <p>Thanks to Kinzame I could feed my family and buy a new fridge</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars0.githubusercontent.com/u/26819547?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Such a great product</h2>
        <p>Thanks to Kinzame I could feed my family and buy a new fridge</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars0.githubusercontent.com/u/26819547?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Such a great product</h2>
        <p>Thanks to Kinzame I could feed my family and buy a new fridge</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
  </div>
</div>
