.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("banner.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contract-search {
  width: 300px;
}

.tag-line{
  color: $white;
  font-size: 48px;
  text-shadow: 1px 1px 6px rgba(40,40,40,0.68);
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
