.btn-main {
  border: 1px solid #0050ff;
  background-color: $white;
  border-radius: 30px;
  margin-right: $spacer * 2;
  transition: 0.5s;
  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
  }
}
.btn-approve {
  border: 1px solid #23d37b;
  color: $green;
  background-color: $white;
  border-radius: 30px;
  margin-right: $spacer * 2;
  transition: 0.5s;
  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
  }
}
.btn-reject {
  border: 1px solid #e23131;
  border-radius: 30px;
  background-color: $white;
  color: $red;
  margin-right: $spacer * 2;
  transition: 0.5s;
  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
  }
}

.btn-blocky {
  border-radius: 0;
  background-color: $green;
  color: $white;
}

.btn-new-loan {
  background-color: $white;
  border-radius: 30px;
  // margin-right: $spacer * 2;
  border: 1px solid $green;
  transition: 0.5s;
  font-size: 16px !important;
  margin: 8px 8px !important;
  padding: 0 !important;
  text-decoration: none;
  &:hover{
    box-shadow: inset 0px 0px 1px 1px $green !important;
    text-decoration: none !important;
    background-color: $white !important;
  }
}

.btn-circle {
  border: none !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  margin-bottom: $spacer * 2 !important;
  & .fas{
    line-height: 40px;
  }
}

