.contract-form {
  width: 40%;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: $border-radius * 2;
  padding: $spacer * 2;
  margin: 0 auto;
}

.contract-form-inline {
  margin: 8px auto;
}

.contract-container {
  margin: 0 auto;
}
