.contract-wrapper {
  margin-top: 16px;
  margin-left: 180px;
  background-color: $white;
  width: 75vw;
  box-shadow: 4px 4px 8px 1px rgba(0,0,0,0.1);
}
.loan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: $spacer * 4 0;
  border-radius: $border-radius * 2;
  padding: $spacer * 3;
  background-color: $white;
  border-left: 8px solid $light-blue;
  & p{
    margin: 0;
  }
}

.loan-pending {
  border-left: 8px solid $yellow;
}

.loan-active {
  background-color: $green;
}

.loan-header {
  // setting up header
  font-weight: bold;
  font-size: 18px;
}

.loan-header-pending {
  background-color: $darken-yellow;
}

.loan-header-all {
  background-color: $darken-light-blue;
}

.loan-dropdown {
  margin: 0 auto;
}

.approval-buttons {
  display: flex;
  // width: 480px;
  & p {
    margin: 0 auto;
  }
  & .btn{
    margin-left: $spacer * 4 !important;
  }
  // for checking
  // border: 1px solid black;
}

.contract-id, .contract-amount, .contract-total, .contract-interest, .contract-due {
  width: 100%;
  text-align: center;

  // for checking
  // border: 1px solid black;
}

.contract-content {
  width: 90%;
  display:flex;
  justify-content: space-between;
}

.contract-amount {
  display: flex;
  justify-content: space-between;
  & i {
    margin: auto 0;
  }
}

