.form-container {
  height: 75vh;
  margin-top: 64px;
}

.form-container > h1 {
  text-align: center;
  margin: 8px auto;
}

.loan-form {
  width: 40%;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: $border-radius * 2;
  padding: $spacer * 2;
  margin: 0 auto;
}

.loan-form-inline {
  margin: 8px auto;
}

.input-icon {
  position: relative;
}

#user_wallet {
  padding-left: 16px;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  left: -3%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}


.input-icon-right > i {
  left: 40%;
  top: 48%
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}


#loan_amount {
  padding-left: 24px !important;
}

.amount-details {
  margin: 0 8px;
  padding: 0;
}

label {
  margin: 0 8px;
}
