.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}



.logo-text {
  font-family: $logo-font;
  margin: 0;
  color: $white;
}
